h1 {
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  line-height: 60px;
}
tr:hover{
    background-color: limegreen;
}
tr {
    vertical-align: baseline;
}
td{
    color: Green;
    Background-color:
}
table {
    width:50%; 
    height:50%;
    float:center; 
    border:50px Red;
    background-color: papayawhip; 
}